*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --font-family-primary:'Inter', sans-serif;
    --font-normal:400;
    --font-bold:600;
    --font-family-secondary:'Noto Sans', sans-serif;
    --color-primary:color: rgba(239, 245, 255, 0.69);
    --color-bg:#000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Kaisei+Tokumin:wght@400;500;700&family=Noto+Sans:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Kaisei+Tokumin:wght@400;500;700&family=Noto+Sans:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap');

body{
    background: var(--color-bg);
}

a{
    text-decoration: none;
    /* color: white; */
}

ul{
    list-style: none;
}